html {
    scroll-behavior: smooth;
}

body {
    background: white;
    font-family: "Oswald", sans-serif;
}

.blurb h2 {
    color: #ea1c2c;
    font-size: 2rem;
    font-weight: 300;
}

.blurb p {
    line-height: 2;
    font-weight: 300;
}

.content {
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rems;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: black;
    font-weight: 400;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#headingGroup span {
    color: red;
}

#headingGroup h1 {
    font-weight: 200;
    font-size: 4rem;
}

.navbar.scrolled {
    background: white;
    transition: background 200ms;
}

footer {
    font-weight: 200;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-size: 3rem;
    }
    .lead {
        font-size: 1rem;
    }
}